@charset "utf-8";   

:root{
    --cor0; #ffffff;
    --cor1: #033E8C; 
    --cor2: #3D5473; 
    --cor3: #DCE6F2;  
    --cor4: #6085A6; 
    --cor5: #BF0404; 
    --font1;   
    --font2: 
    --font3:  
} 



*{
    margin: 0;
    padding: 0;
    list-style-type: none;
} 

header{
    background-image: to bottom, var(cor1) var(--cor2);
}
