@charset "utf-8";  

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body{
    background-color: rgb(55, 49, 88);
} 

header{
    background-color: #00ff00;
}
header h1{ 
    padding-top: 50px;
    text-align: center; 
    font-size: 4em;
}
header p{
    text-align: center; 
    padding-bottom: 50px; 
    font-size: 2em;
    max-width: 500px;
}
main{
    width: 1000px;
    margin: auto; 
    background-color: white; 
    padding: 20px;
}

footer{
    background-color: #00ff00;
}

